# just the samples are there that what env or keys are used actually in the project , It is empty initially snybody can insert there own keys and use make the app working [ This file is tracked by the github]

VITE_APPWRITE_URL="basic / common for all "
VITE_APPWRITE_PROJECT_ID='unique for each project'
VITE_APPWRITE_DATABASE_ID='id of db'
VITE_APPWRITE_COLLECTION_ID='articles'
VITE_APPWRITE_TABLE_ID='articles'
VITE_APPWRITE_BUCKET_ID='the api key of storage'
VITE_TINYMCE_API_KEY='your_tinymce_api_key_here'

