# just the samples are there that what env or keys are used actually in the project , It is empty initially snybody can insert there own keys and use make the app working [ This file is tracked by the github]

VITE_APPWRITE_URL="https://nyc.cloud.appwrite.io/v1"

VITE_APPWRITE_PROJECT_ID='6a7c1c320031aa56f4da'
VITE_APPWRITE_DATABASE_ID='6a7c1e2c0019535adb51'
VITE_APPWRITE_COLLECTION_ID='articles'
VITE_APPWRITE_BUCKET_ID='6a7c234a00114506c54a'
